# 애플리케이션 기본 설정
spring:
  application:
    name: Trace
  profiles:
    active: local

# AWS S3 설정
cloud:
  aws:
    s3:
      bucket: wap-trace-bucket
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false


# SpringDoc 설정 추가
springdoc:
  version: '1.0'
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  show-actuator: false
  paths-to-match:
    - /token/**
    - /auth/**
    - /posts/**
    - /emotion/**
    - /user/**
    - /verification/**
    - /comments/**



  # OAuth2 클라이언트 설정 - API 키 관리, 외부에 노출되면 안 됨
oauth2:
  client:
    registration:
      kakao:
        client-id: ${KAKAO_CLIENT_ID}
    provider:
     kakao:
        jwks-uri: https://kauth.kakao.com/.well-known/jwks.json

# JWT 설정
jwt:
  secret: ${JWT_SECRET}
  token:
    access-expiration-time: 3600000  # 1시간
    refresh-expiration-time: 604800000  # 7일


  # 로깅 설정
logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate: INFO
    com.example.trace: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE


---

# 개발 환경 설정
spring:
  config:
    activate:
      on-profile: dev


  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://awseb-e-n4aeqm25qy-stack-awsebrdsdatabase-sdzqapxzvgnq.c7oqi6uuacld.ap-northeast-2.rds.amazonaws.com:3306/ebdb
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      connection-timeout: 30000

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect


  sql:
    init:
      mode: always


# 서버 설정
server:
  port: 5000
  servlet:
    context-path: /api/v1
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
  tomcat:
    basedir: ./temp  # Custom temp directory for Tomcat


---
# 개발 환경 설정
spring:
  config:
    activate:
      on-profile: local

  sql:
    init:
      mode: never

  # H2 데이터베이스 설정
  datasource:
    url: jdbc:h2:file:./data/tracedb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  # H2 콘솔 활성화
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  app:
    base-url: http://localhost:8080/api/v1

# 서버 설정
server:
  port: 8080
  servlet:
    context-path: /api/v1
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
  tomcat:
    basedir: ./temp  # Custom temp directory for Tomcat

